Django==1.6
MySQL-python==1.2.4
South==0.8.4
argparse==1.2.1
django-debug-toolbar==0.11.0
sqlparse==0.1.10
Whoosh==2.6.0
wsgiref==0.1.2
yolk==0.4.3
django-crispy-forms==1.4.0
django-mptt==0.6.0
django-model-utils
Pillow==2.3.0
pisa==3.0.33
html5lib
reportlab
-e git+https://github.com/davidvuong/django-brutebuster#egg=django_brutebuster
django-uuidfield
