{% extends 'wm/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load mptt_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'vakata-jstree/themes/default/style.min.css' %}" />
<script src="{% static 'vakata-jstree/jstree.min.js' %}"></script>
<script>
$(function() {
	$('#tree').on('changed.jstree', function(e, data) {
		var obj = data.selected;
		/*var li = $('#' + obj[0]);
		alert(li.text().trim());*/
		var group_id = obj[0].substr(5);
		$('#id_group').val(group_id);
	});
});

$(function() {
	$('#tree').jstree({
		"core" : {
			"multiple" : false,
		},
	});
});
</script>

{% endblock %}

{% block title %}{% trans "Edit article" %}{% endblock %}

{% block content %}

<h1>{% trans "Edit article" %}</h1>

<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Article details" %}</div>
<div id="article_form" class="panel-body">
<form method="POST" action="." class="uniForm">
{% csrf_token %}

{{ form|crispy }}
<p><input type="submit" value="{% trans "Save" %}" /></p>
</form>
</div>
</div>

</div>
<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Choose a category for the article" %}</div>
<div class="panel-body">
<div id="tree">
<ul>
	{% recursetree nodes %}
		<li id="node_{{ node.id }}"
		{% if node.id == article.group.id %}data-jstree='{"opened":true, "selected": true}'{% endif %}>
			{{ node.name }}
			{% if not node.is_leaf_node %}
				<ul class="children">
					{{ children }}
				</ul>
			{% endif %}
		</li>
	{% endrecursetree %}
</ul>
</div>
</div>
</div>

</div>

{% endblock %}
