{% extends "wm/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ article.code }}{% endblock %}

{% block content %}

<h1>{{ article.code }}</h1>
<p>
<a href="{% url 'wm_article_edit' article.id %}">{% trans "Edit article" %}</a>
</p>

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Article details" %}</div>
<div class="panel-body">
<dl class="dl-horizontal">
<dt>{% trans "Description" %}</dt>
<dd>{{ article.description }}</dd>
<dt>{% trans "Category" %}</dt>
<dd>
{{ article.group.get_ancestors|tree_path:" / " }} / {{ article.group }}
</dd>
<dt>{% trans "Brand" %}</dt>
<dd>{{ article.brand|default_if_none:"" }}</dd>
<dt>{% trans "Measure unit" %}</dt>
<dd>{{ article.measure_unit }}</dd>
<dt>{% trans "Standard packaging" %}</dt>
<dd>{{ article.packaging }}</dd>
</dl>
</div>
</div>

<h2>{% trans "Offers for this article" %}</h2>

<form method="post" action="{% url 'om_cartitem_create' %}" class="form-inline">{% csrf_token %}
<table class="table table-striped table-hover">
<thead>
<tr>
	<th>{% trans "Order" %}</th>
	<th>{% trans "Supplier" %}</th>
	<th>{% trans "Date" %}</th>
	<th>{% trans "Expires" %}</th>
	<th>{% trans "Code" %}</th>
	<th>{% trans "Retail price" %}</th>
	<th>{% trans "Invoice price" %}</th>
	<th>{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for offer in article.offer_set.all %}
<tr>
	<td><input name="offer" type="radio" value="{{ offer.id }}" /></td>
	<td>{{ offer.company }}</td>
	<td>{{ offer.created_on }}</td>
	<td>{{ offer.expired_on|default_if_none:"" }}</td>
	<td>{{ offer.code }}</td>
	<td>{{ offer.retail_price|default_if_none:"" }}</td>
	<td>{{ offer.invoice_price|default_if_none:"" }}</td>
	<td><a href="{% url 'om_offer_edit' offer.id %}">{% trans "Edit" %}</a></td>
</td>
{% endfor %}
</tbody>
</table>

<div class="form-group">
<input name="quantity" type="text" placeholder="{% trans "Quantity" %}"/> {% trans "units" %}
</div>
<button type="submit" class="btn btn-primary">{% trans "Order" %}</button>
</form>

<h3>{% trans "New offer" %}</h3>
<form action="{% url 'om_offer_create' %}" method="post" class="form-inline">{% csrf_token %}

{{ offer_form|crispy }}

<div>
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>
</form>


<h2>{% trans "Latest machines where the article is installed" %}</h2>

<table class="table table-striped table-hover">
<thead>
<tr>
	<th>{% trans "Machine" %}</th>
	<th>{% trans "Description" %}</th>
	<th>{% trans "Function" %}</th>
</tr>
</thead>
<tbody>
{% for part in latest_parts %}
<tr>
	<td><a href="{% url 'pm_machine_detail' part.machine.id %}">{{ part.machine.full_reference }}</a></td>
	<td>{{ part.machine.description }}</td>
	<td>{{ part.function }}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
