{% extends "wm/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load crispy_forms_tags %}

{% block title %}{{ article.code }}{% endblock %}

{% block content %}

<h1>{{ article.code }}</h1>
<p>
<a href="{% url 'wm_article_edit' article.id %}">{% trans "Edit article" %}</a>
</p>

<dl>
<dt>{% trans "Description" %}</dt>
<dd>{{ article.description }}</dd>
<dt>{% trans "Category" %}</dt>
<dd>
{{ article.group.get_ancestors|tree_path:" / " }} / {{ article.group }}
</dd>
<dt>{% trans "Brand" %}</dt>
<dd>{{ article.brand|default_if_none:"" }}</dd>
<dt>{% trans "Measure unit" %}</dt>
<dd>{{ article.measure_unit }}</dd>
<dt>{% trans "Standard packaging" %}</dt>
<dd>{{ article.packaging }}</dd>
</dl>

<h2>{% trans "Offers for this article" %}</h2>

<table>
<thead>
<tr>
	<td>{% trans "Supplier" %}</td>
	<td>{% trans "Date" %}</td>
	<td>{% trans "Expires" %}</td>
	<td>{% trans "Code" %}</td>
	<td>{% trans "Retail price" %}</td>
	<td>{% trans "Invoice price" %}</td>
	<td>{% trans "Actions" %}</td>
</tr>
</thead>
{% for offer in article.offer_set.all %}
<tr>
	<td>{{ offer.company }}</td>
	<td>{{ offer.created_on }}</td>
	<td>{{ offer.expired_on|default_if_none:"" }}</td>
	<td>{{ offer.code }}</td>
	<td>{{ offer.retail_price|default_if_none:"" }}</td>
	<td>{{ offer.invoice_price|default_if_none:"" }}</td>
	<td><a href="{% url 'om_offer_edit' offer.id %}">{% trans "Edit" %}</a></td>
</td>
{% endfor %}
</table>

<h3>{% trans "New offer" %}</h3>
<form action="{% url 'om_offer_create' %}" method="post">{% csrf_token %}

<ul class="one_row_form">
{{ offer_form.as_ul }}
</ul>

<p><input type="submit" value="{% trans "Save" %}" />
</form>


<h2>{% trans "Latest machines where the article is installed" %}</h2>

<table>
<thead>
<tr>
	<th>{% trans "Machine" %}</th>
	<th>{% trans "Description" %}</th>
	<th>{% trans "Function" %}</th>
</tr>
</thead>
{% for part in latest_parts %}
<tr>
	<td><a href="{% url 'pm_machine_detail' part.machine.id %}">{{ part.machine.full_reference }}</a></td>
	<td>{{ part.machine.description }}</td>
	<td>{{ part.function }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
