{% extends "site_base.html" %}
{% load i18n %}

{% block wm %}active{% endblock %}

{% block app_menu %}
<ul class="nav nav-pills">
	<li><a href="{% url 'wm_group_tree' %}">{% trans "Categories" %}</a></li>
	<li><a href="{% url 'wm_group_create' %}">{% trans "New category" %}</a></li>
	<li><a href="{% url 'wm_article_list' %}">{% trans "All articles" %}</a></li>
	<li><a href="{% url 'wm_article_create' %}">{% trans "New article" %}</a></li>
	<li><a href="{% url 'wm_article_shortage' %}">{% trans "Shortages" %}</a></li>
	<li><a href="{% url 'wm_stock_report' %}">{% trans "Stock" %}</a></li>
</ul>
{% endblock %}

{% block body %}
{% block content %}{% endblock %}

{% endblock %}

