{% extends 'wm/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load mptt_tags %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'vakata-jstree/themes/default/style.min.css' %}" />
<script src="{% static 'vakata-jstree/jstree.min.js' %}"></script>
<script>
$(function() {
	$('#tree').on('changed.jstree', function(e, data) {
		var obj = data.selected;
		/*var li = $('#' + obj[0]);
		alert(li.text().trim());*/
		var group_id = obj[0].substr(5);
		$('#id_parent').val(group_id);
	});
});

$(function() {
	$('#tree').jstree({
		"core" : {
			"multiple" : false,
		},
	});
});
</script>

<style type="text/css">
#group_form {
	float: left;
	width: 40%;
}

#tree_wrapper {
	margin-left: 50%;
}

</style>
{% endblock %}

{% block title %}{% trans "Edit category" %}{% endblock %}

{% block content %}

<h1>{% trans "Edit category" %}</h1>

<div id="group_form">

<form method="POST" action="." class="uniForm">
{% csrf_token %}

{{ form|crispy }}
<p><input type="submit" value="{% trans "Save" %}" /></p>
</form>

</div>

<div id="tree_wrapper">
<h2>{% trans "Choose a parent for this category" %}</h2>
<div id="tree">
<ul>
	{% recursetree nodes %}
		<li id="node_{{ node.id }}"
		{% if node.id == group.parent.id %}data-jstree='{"opened":true, "selected": true}'{% endif %}>
			{{ node.name }}
			{% if not node.is_leaf_node %}
				<ul class="children">
					{{ children }}
				</ul>
			{% endif %}
		</li>
	{% endrecursetree %}
</ul>
</div>
</div>

{% endblock %}
