{% extends "site_base.html" %}
{% load i18n %}

{% block crm %}active{% endblock %}

{% block app_menu %}
<ul class="nav nav-pills">
	<li><a href="{% url 'crm_group_list' %}">{% trans "Groups" %}</a></li>
	<li><a href="{% url 'crm_company_list' %}">{% trans "Companies" %}</a></li>
	<li><a href="{% url 'crm_company_create' %}">{% trans "New company" %}</a></li>
<li>
<form method="GET" action="{% url 'crm_company_search' %}">
  <input class="form-control col-lg-8" placeholder="{% trans "Search" %}" type="text" name="q" />
</form>
</li>
</ul>
{% endblock %}

{% block body %}
{% block content %}{% endblock %}

{% endblock %}

