{% extends "crm/base.html" %}
{% load i18n %}
{% load crm_tags %}

{% block title %}{{ company.name|title }}{% endblock %}

{% block content %}

<h1>{{ company.name|title }}</h1>


<p>
<a href="{% url 'crm_company_edit' company.id %}">{% trans "Edit company" %}</a>
{% if company.is_supplier %}
|
<a href="{% url 'om_order_by_company' company.id %}">{% trans "Orders" %}</a>
{% endif %}
{% if company.is_customer %}
|
<a href="{% url 'crm_companyquotation_list' company.id %}">{% trans "Quotations" %}</a>
|
<a href="{% url 'crm_quotation_create' company.id %}">{% trans "New quotation" %}</a>
|
<a href="{% url 'crm_companycontract_list' company.id %}">{% trans "Contracts" %}</a>
|
<a href="{% url 'crm_contract_create' company.id %}">{% trans "New contract" %}</a>
|
<a href="{% url 'crm_companydeliverynote_list' company.id %}">{% trans "Delivery notes" %}</a>
{% endif %}
</p>

<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">
{% trans "General data" %}
</div>
<div class="panel-body">
<dl class="dl-tab">
{% if company.group %}
<dt>{% trans "Group" %}</dt>
<dd>
<a href="{% url 'crm_group_detail' company.group.id %}">{{ company.group }}</a>
</dd>
{% endif %}
<dt>{% trans "VATIN" %}</dt><dd>{{ company.vatin|default_if_none:"" }}</dd>
<dt>{% trans "Address" %}</dt>
<dd>{{ company.address|default_if_none:"" }}<br/>
	{{ company.postal_code }} {{ company.city|default_if_none:"" }}<br/>
	{{ company.region|default_if_none:"" }} - {{ company.country|default_if_none:"" }}
</dd>
<dt>{% trans "Phone numbers" %}</dt>
<dd>
	{{ company.main_phone|format_phone }}
	<br/>
	{{ company.secondary_phone|format_phone }}
</dd>
<dt>{% trans "Fax" %}</dt><dd>{{ company.fax|format_phone }}</dd>
<dt>{% trans "Website" %}</dt><dd>{{ company.website|default_if_none:"" }}</dd>
<dt>{% trans "Global email" %}</dt><dd>{{ company.global_email }}</dd>
<dt>{% trans "Comment" %}</dt><dd>{{ company.comment|default_if_none:"" }}</dd>
<dt>{% trans "Creation date" %}</dt><dd>{{ company.created_at }}</dd>
<dt>{% trans "Last updated" %}</dt><dd>{{ company.updated_at }}</dd>
</dl>
</div>
</div>

</div>
<div class="col-md-6">

<div class="panel panel-default">
<div class="panel-heading">{% trans "Departments" %}</div>
<div class="panel-body">
<p>
<a href="{% url 'crm_department_create' company.id %}">{% trans "New department" %}</a>
</p>
<table class="table table-striped table-hover">
<thead>
<tr>
<th>{% trans "Department" %}</th>
<th>{% trans "Person" %}</th>
<th>{% trans "Phone" %}</th>
<th>{% trans "Email" %}</th>
<th>{% trans "Use for orders" %}</th>
<th>{% trans "Comment" %}</th>
</tr>
</thead>
<tbody>
{% for d in company.department_set.all %}
<tr>
<td>
<a href="{% url 'crm_department_detail' d.id %}">{{ d.name }}</a>
</td>
<td>{{ d.person|default_if_none:"" }}</td>
<td>{{ d.phone|default_if_none:"" }}</td>
<td>{{ d.email|default_if_none:"" }}</td>
<td>{{ d.send_orders|yesno }}</td>
<td>{{ d.comment|default_if_none:"" }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

</div>

{% if company.is_customer %}
<div class="col-md-12">

<h2>{% trans "Projects" %}</h2>
<table class="table table-striped table-hover">
<thead>
<tr>
<th>{% trans "Reference" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Created on" %}</th>
</tr>
</thead>
<tbody>
{% for project in company.project_set.all %}
<tr>
<td><a href="{% url 'pm_project_detail' project.id %}">{{ project }}</a></td>
<td>{{ project.description }}</td>
<td>{{ project.created_on }}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
{% endif %}

{% endblock %}
