{% extends 'crm/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %}{% trans "Contract" %}: {{ object }}{% endblock %}

{% block content %}
<h1>{% trans "Contract" %}: {{ object }}</h1>

<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-body">
<dl>
	<dt>{% trans "Reference" %}</dt>
	<dd>{{ object }}</dd>
	<dt>{% trans "Customer" %}</dt>
	<dd>
	<a href="{% url 'crm_company_detail' object.company.id %}">
	{{ object.company }}
	</a>
	</dd>
	<dt>{% trans "Signed copy" %}</dt>
	<dd>
	{% if object.signed_copy %}
	<a href="{{ MEDIA_URL }}{{ object.signed_copy }}" target="_blank">
		{% trans "View" %}
	</a>
	{% else %}
	<a href="{% url 'crm_contract_signed_upload' object.id %}">
		{% trans "Upload" %}
	</a>
	{% endif %}
	</dd>
</dl>
<p>
<a href="{% url 'crm_contract_update' object.id %}">{% trans "Edit" %}</a>
|
<a href="{% url 'crm_contract_pdf' object.id %}" target="_blank">PDF</a>
|
<a href="{% url 'crm_deliverynote_create' object.id %}">
{% trans "Create delivery note" %}
</a>
</p>
</div>
</div>

<form id="item_form" method="post" action="{% url 'crm_contractitem_create' %}">
{% csrf_token %}
{{ form|crispy }}
<p><button type="submit" class="btn btn-sm btn-primary">{% trans "Add" %}</button></p>
</form>

<h4>{% trans "Delivery time" %}</h4>
{{ object.delivery_time|linebreaks }}

<h4>{% trans "Delivery method" %}</h4>
{{ object.delivery_method|linebreaks }}

<h4>{% trans "Payment conditions" %}</h4>
{{ object.conditions|linebreaks }}

<h4>{% trans "Remarks" %}</h4>
{{ object.remarks|linebreaks }}

</div>
<div class="col-md-6">

<table id="item_table" class="table table-striped table-hover">
<thead>
	<tr>
	<th>{% trans "Qty" %}</th>
	<th>{% trans "Description" %}</th>
	{% if object.disaggregated %}
	<th>{% trans "Price/unit" %}</th>
	<th>{% trans "Price" %}</th>
	{% endif %}
	<th>{% trans "Actions" %}</th>
	</tr>
</thead>
<tbody>
	{% for item in object.contractitem_set.with_total %}
	<tr>
	<td>{{ item.quantity }}</td>
	<td>{{ item.description }}</td>
	{% if object.disaggregated %}
	<td>{{ item.price|intcomma }}</td>
	<td>{{ item.total|intcomma }}</td>
	{% endif %}
	<td>
	<a href="{% url 'crm_contractitem_update' item.id %}">
	{% trans "Edit" %}
	</a>
	<a href="{% url 'crm_contractitem_delete' item.id %}">
	{% trans "Delete" %}
	</a>
	<a href="{% url 'pm_machine_from_contract_item' item.id %}">
	{% trans "To project" %}
	</a>
	</td>
	</tr>
	{% endfor %}
</tbody>
</table>


</div>
{% endblock %}
