{% extends "crm/base.html" %}
{% load i18n %}

{% block title %}{% trans "Groups" %}{% endblock %}

{% block content %}

<h1>{% trans "Groups" %}</h1>

<p>
<a href="{% url 'crm_group_create' %}">{% trans "New group" %}</a>
</p>

<table>
<thead>
<tr>
    <th>{% trans "Name" %}</th>
</tr>
</thead>
<tbody>
{% for g in group_list %}
<tr>
    <td><a href="{% url 'crm_group_detail' g.id %}">{{ g.name|title }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="pagination">
	<ul>
		{% if page_obj.has_previous %}
		<li>
			<a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
		</li>
		{% endif %}
		<li>{% trans "Page" %} {{ page_obj.number }}
			{% trans "of" %} {{ paginator.num_pages }}.</li>
		{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
		</li>
		{% endif %}
	</ul>
</div>

{% endblock %}
