{% extends "site_base.html" %}
{% load i18n %}

{% block pm %}active{% endblock %}

{% block app_menu %}
<ul class="nav nav-pills">
	<li><a href="{% url 'pm_sector_list' %}">{% trans "Sectors" %}</a></li>
	<li><a href="{% url 'pm_project_list' %}">{% trans "Projects" %}</a></li>
	<li><a href="{% url 'pm_project_create' %}">{% trans "New project" %}</a></li>
	<li><a href="{% url 'pm_ticket_list' %}">{% trans "Tickets" %}</a></li>
<li>
<form method="GET" action="{% url 'pm_project_search' %}">
  <input class="form-control" placeholder="{% trans "Search" %}" type="text" name="q" />
</form>
</li>
</ul>
{% endblock %}

{% block body %}
{% block content %}{% endblock %}

{% endblock %}

