{% extends 'pm/base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete machine" %}{% endblock %}

{% block content %}

<h1>{% trans "Delete confirmation" %}</h1>

<p>{% blocktrans %}The machine {{ object }} and all its parts and comments will be deleted. Are you sure?{% endblocktrans %}</p>

<p><a href="{% url 'pm_project_detail' object.project.id %}">{% trans "Go back." %}</a>

<form action="" method="post">{% csrf_token %}
	<input type="submit" value="{% trans "Delete" %}" />
</form>

{% endblock %}
