{% extends 'pm/base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete comment" %}{% endblock %}

{% block content %}

<h1>{% trans "Delete confirmation" %}</h1>

<p>{% blocktrans %}This comment will be deleted. Are you sure?{% endblocktrans %}</p>

<div class="well">
{{ object }}
<span class="badge">{{ object.created_on }}</span>
</div>

<p><a href="{% url 'pm_machine_detail' object.machine.id %}">{% trans "Go back." %}</a>

<form action="" method="post">{% csrf_token %}
	<button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
</form>

{% endblock %}
