{% extends "pm/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ machine.project }}-{{ machine.model }}{{ machine.number }}{% endblock %}

{% block content %}

<h1><a href="{% url 'pm_project_detail' machine.project.id %}">{{ machine.project }}</a>-{{ machine.model }}{{ machine.number }}</h1>
<p>
<a href="{% url 'pm_machine_edit' machine.id %}">{% trans "Edit machine" %}</a>
</p>

<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Machine info" %}</div>
<div class="panel-body">
<dl class="dl-tab">
<dt>{% trans "Description" %}</dt>
<dd>{{ machine.description }}</dd>
<dt>{% trans "Created on" %}</dt>
<dd>{{ machine.created_on }}</dd>
<dt>{% trans "Shipped on" %}</dt>
<dd>{{ machine.shipped_on }}</dd>
<dt>{% trans "Running on" %}</dt>
<dd>{{ machine.running_on }}</dd>
<dt>{% trans "Estimated delivery on" %}</dt>
<dd>{{ machine.estimated_delivery_on }}</dd>
<dt>{% trans "Is retired?" %}</dt>
<dd>{{ machine.is_retired|yesno }}</dd>
</dl>
</div>
</div>

</div>
<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Barcode" %}</div>
<div class="panel-body">
<img src="{% url 'pm_machine_barcode' machine.id %}" />
</div>
</div>

</div>

<div class="col-md-12">

<h2>{% trans "Comments" %}</h2>
{% for comment in machine.machinecomment_set.all %}
<div class="well">
<p>{{ comment }}</p>
<div class="small">
<span>{{ comment.author }}, {{ comment.created_on }}</span>
<span>
<a href="{% url 'pm_machinecomment_delete' comment.id %}" class="text-danger">{% trans "Delete" %}</a>
</span>
</div>
</div>
{% endfor %}

<form action="{% url 'pm_machinecomment_create' %}" method="post">{% csrf_token %}

{{ comment_form|crispy }}

<div class="form-group">
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>

</form>

</div>
{% endblock %}
