{% extends "pm/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load pm_tags %}

{% block title %}{{ machine.project }}-{{ machine.model }}{{ machine.number }}{% endblock %}

{% block content %}

<h1><a href="{% url 'pm_project_detail' machine.project.id %}">{{ machine.project }}</a>-{{ machine.model }}{{ machine.number }}</h1>
<p>
<a href="{% url 'pm_machine_edit' machine.id %}">{% trans "Edit machine" %}</a> |
<a href="{% url 'pm_machine_parts_report' machine.id %}">{% trans "Parts report" %}</a>
</p>

<div class="row">
<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Machine info" %}</div>
<div class="panel-body">
<dl class="dl-tab">
<dt>{% trans "Description" %}</dt>
<dd>{{ machine.description }}</dd>
<dt>{% trans "Created on" %}</dt>
<dd>{{ machine.created_on }}</dd>
<dt>{% trans "Finished on" %}</dt>
<dd>{{ machine.finished_on|default_if_none:"" }}</dd>
<dt>{% trans "Shipped on" %}</dt>
<dd>{{ machine.shipped_on|default_if_none:"" }}</dd>
<dt>{% trans "Running on" %}</dt>
<dd>{{ machine.running_on|default_if_none:"" }}</dd>
<dt>{% trans "Estimated delivery on" %}</dt>
<dd>{{ machine.estimated_delivery_on|default_if_none:"" }}</dd>
<dt>{% trans "Is retired?" %}</dt>
<dd>{{ machine.is_retired|yesno }}</dd>
</dl>
</div>
</div>

</div>
<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Barcode" %}</div>
<div class="panel-body">
<img src="{% url 'pm_machine_barcode' machine.id %}" />
</div>
</div>

</div>
</div><!-- row -->

<div class="row">
<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Comments" %}</div>
<div class="panel-body">
{% for comment in machine.machinecomment_set.all %}
<div class="well">
<p>{{ comment }}</p>
<div class="small">
<span>{{ comment.author }}, {{ comment.created_on }}</span>
<span>
<a href="{% url 'pm_machinecomment_delete' comment.id %}" class="text-danger">{% trans "Delete" %}</a>
</span>
</div>
</div>
{% endfor %}

<form action="{% url 'pm_machinecomment_create' %}" method="post">{% csrf_token %}

{{ comment_form|crispy }}

<div class="form-group">
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>

</form>

</div>
</div>

</div>

<div class="col-md-6">

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Interventions" %}</div>
<div class="panel-body">
    <table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>{% trans "Hours" %}</th> 
        <th>{% trans "Employee" %}</th> 
    </tr>
    </thead>
    <tbody>
    {% for i in interventions %}
    <tr>
        <td>{{ i.total|as_hours:1 }}</td>
        <td>{{ i.employee__user__first_name }} {{ i.employee__user__last_name }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th>{{ total_seconds|as_hours:1 }}</th>
        <th>&nbsp;</th>
    </tr>
    </tbody>
    </table>
    <p><a href="{% url 'pm_machine_interventions' machine.id %}">{% trans "Detail" %}</p>
</div>
</div>


</div>
</div><!-- row -->

{% endblock %}
