{% extends "pm/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ machine.project }}-{{ machine.model }}{{ machine.number }}{% endblock %}

{% block content %}

<h1><a href="{% url 'pm_project_detail' machine.project.id %}">{{ machine.project }}</a>-{{ machine.model }}{{ machine.number }}</h1>
<p>
<a href="{% url 'pm_machine_edit' machine.id %}">{% trans "Edit machine" %}</a>
</p>

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Machine info" %}</div>
<div class="panel-body">
<dl class="dl-horizontal">
<dt>{% trans "Description" %}</dt>
<dd>{{ machine.description }}</dd>
<dt>{% trans "Created on" %}</dt>
<dd>{{ machine.created_on }}</dd>
<dt>{% trans "Shipped on" %}</dt>
<dd>{{ machine.shipped_on }}</dd>
<dt>{% trans "Running on" %}</dt>
<dd>{{ machine.running_on }}</dd>
<dt>{% trans "Estimated delivery on" %}</dt>
<dd>{{ machine.estimated_delivery_on }}</dd>
<dt>{% trans "Is retired?" %}</dt>
<dd>{{ machine.is_retired|yesno }}</dd>
</dl>
</div>
</div>

<h2>{% trans "Comments" %}</h2>
<ul class="list-group">
{% for comment in machine.machinecomment_set.all %}
<li class="list-group-item">
{{ comment }}
<span class="badge">{{ comment.created_on }}</span>
<div>
<a href="{% url 'pm_machinecomment_delete' comment.id %}" class="btn btn-xs btn-danger">{% trans "Delete" %}</a>
</div>
</li>
{% endfor %}
</ul>

<form action="{% url 'pm_machinecomment_create' %}" method="post">{% csrf_token %}

{{ comment_form|crispy }}

<div class="form-group">
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>

</form>

{% endblock %}
