{% extends 'pm/base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete part" %}{% endblock %}

{% block content %}

<h1>{% trans "Delete confirmation" %}</h1>

<p>{% blocktrans with object.article.code as code %}The part {{ code }} will be deleted. Are you sure?{% endblocktrans %}</p>

{% if object.article.control_stock %}
<p class="text-danger">{% blocktrans %}After deleting the part, the stock will be outdated. You shold adjust the stock manually.{% endblocktrans %}</p>
{% endif %}

<p><a href="{% url 'pm_machine_parts' object.machine.id %}">{% trans "Go back." %}</a>

<form action="" method="post">{% csrf_token %}
	<button type="submit" class="btn btn-primary">{% trans "Delete" %}</button>
</form>

{% endblock %}
