{% extends "pm/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head %}
<script type="text/javascript">

$(function() {
	var frm =$("#machine_form");
	frm.submit(function(ev) {
		var data = frm.serialize();
		console.log(data);
		$.ajax({
			type: frm.attr('method'),
			url: frm.attr('action'),
			data: data,
			success: function(data) {
				var row = "<tr>";
				row += '<td>' + data.reference + '</td>';
				row += '<td>' + data.description + '</td>';
				row += '<td>0</td>';
				row += '<td>0</td>';
				row += '<td>' + data.created_on + '</td>';
				row += '<td>0</td>';
				row += '<td>0</td>';
				row += '<td>' + data.delivery + '</td>';
				row += "<tr>";
				$('#machines_table tr:last').after(row);
			},
			error: function(resp) {
				console.log(resp.responseText);
				var errors = JSON.parse(resp.responseText);
				for (error in errors) {
					console.log(errors[error]);
				}
				alert("Error. Comprueba el formulario.");
			}
		});
		ev.preventDefault();
	});
});

$(function() {
	$('.dateinput').datepicker();
});

</script>
{% endblock %}

{% block title %}{{ project }}{% endblock %}

{% block content %}

<h1>{{ project }}</h1>
<p>
<a href="{% url 'pm_project_edit' project.id %}">{% trans "Edit project" %}</a>
</p>

<dl>
<dt>{% trans "Description" %}</dt>
<dd>{{ project.description }}</dd>
<dt>{% trans "Notes" %}</dt>
<dd>{{ project.notes }}</dd>
<dt>{% trans "Created on" %}</dt>
<dd>{{ project.created_on }}</dd>
<dt>{% trans "Company" %}</dt>
<dd><a href="{% url 'crm_company_detail' project.company.id %}">{{ project.company }}</a></dd>
</dl>

<h2>{% trans "Project modules" %}</h2>
<table id="machines_table">
<tr>
<th>{% trans "Reference" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Comments" %}</th>
<th>{% trans "Parts" %}</th>
<th>{% trans "Created on" %}</th>
<th>{% trans "Shipped on" %}</th>
<th>{% trans "Running on" %}</th>
<th>{% trans "Estimated delivery" %}</th>
</tr>
{% for machine in project.machine_set.all %}
<tr>
<td><a href="{% url 'pm_machine_detail' machine.id %}">{{ machine.model }}{{ machine.number }}</a></td>
<td>{{ machine.description }}</td>
<td>{{ machine.machinecomment_set.count }}</td>
<td><a href="{% url 'pm_machine_parts' machine.id %}">{{ machine.part_set.count }}</a></td>
<td>{{ machine.created_on|date:"d/m/Y" }}</td>
<td>{{ machine.shipped_on|date:"d/m/Y" }}</td>
<td>{{ machine.running_on|date:"d/m/Y" }}</td>
<td>{{ machine.estimated_delivery_on|date:"d/m/Y" }}</td>
</tr>
{% endfor %}
</table>

<form id="machine_form" method="post" action="{% url 'pm_machine_create' %}" class="uniForm">
{% csrf_token %}
{{ machine_form|crispy }}
<p><input type="submit" value="{% trans "Save" %}"></p>
</form>

{% endblock %}
