{% extends 'pdf_base.html' %}

{% block content %}

<h1 style="font-size: 32px">Proyecto {{ project }}</h1>
<h1 style="font-size: 32px">{{ project.description }}</h2>
<h3>{{ project.created_on }} ({{ project.company.region }})</h3>

<table style="border: solid 1px #999">

{% for machine in project.machine_set.all %}
<tr>
<td style="padding:0.5em; font-size:24px; text-align: center;">
    {{ machine.description }}<br />
    <pdf:barcode value="{{ machine.full_reference }}" barwidth="1.2" humanreadable="1" fontsize="16" />
</td>
</tr>

{% endfor %}

</table>


{% endblock %}
