{% extends "pm/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Ticket" %}{% endblock %}

{% block content %}

<h1>{{ ticket }}</h1>
<div class="panel panel-primary">
<div class="panel-heading">{% trans "Ticket data" %}</div>
<div class="panel-body">
<dl>
<dt>{% trans "Project" %}</dt>
<dd><a href="{% url 'pm_project_detail' ticket.project.id %}">{{ ticket.project }}</a></dd>
<dt>{% trans "Created on" %}</dt>
<dd>{{ ticket.created_on }}</dd>
<dt>{% trans "Updated on" %}</dt>
<dd>{{ ticket.updated_on }}</dd>
<dt>{% trans "Updated by" %}</dt>
<dd>{{ ticket.updated_by }}</dd>
<dt>{% trans "Status" %}</dt>
<dd>
<form method="post" action="{% url 'pm_ticket_status_update' ticket.id %}">{% csrf_token %}
{{ status_form|crispy }}
<button class="btn btn-xs btn-primary">{% trans "Update" %}</button>
</form>
</dd>
</dl>
</div>
</div>

<div class="panel panel-primary">
<div class="panel-body">
{{ ticket.content|linebreaks }}
</div>
</div>

{% for item in ticket.ticketitem_set.all %}
<div class="well">
{{ item.content|linebreaks }}
<div class="small">
<span>{{ item.created_by }}, {{ item.created_on }}</span>
</div>
</div>
{% endfor %}

<form action="{% url 'pm_ticketitem_create' %}" method="post">{% csrf_token %}

{{ item_form|crispy }}

<div class="form-group">
<button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
</div>

</form>

{% endblock %}
