{% extends 'om/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles ready to be ordered" %}{% endblock %}

{% block content %}

<h1>{% trans "Articles ready to be ordered" %}</h1>

<table>
<thead>
<tr>
<td>{% trans "Supplier" %}</td>
<td>{% trans "Quantity" %}</td>
<td>{% trans "Reference" %}</td>
<td>{% trans "Description" %}</td>
<td>{% trans "Actions" %}</td>
</tr>
</thead>

{% for item in item_list %}
<tr>
<td><a href="{% url 'crm_company_detail' item.offer.company.id %}">{{ item.offer.company }}</a></td>
<td>{{ item.quantity }}</td>
<td><a href="{% url 'wm_article_detail' item.offer.article.id %}">{{ item.offer.article.code }}</a></td>
<td>{{ item.offer.article.description }}</td>
<td>
<a href="{% url 'om_cartitem_delete' item.id %}">{% trans "Delete" %}</a>
<a href="{% url 'om_order_create' item.offer.company.id %}">{% trans "Confirm" %}</a></td>
</tr>
{% endfor %}

</table>

{% endblock %}
