{% extends 'om/base.html' %}
{% load i18n %}

{% block title %}{% trans "Articles ready to be ordered" %}{% endblock %}

{% block content %}

<h1>{% trans "Articles ready to be ordered" %}</h1>

<table class="table table-striped table-hover">
<thead>
<tr>
<th>{% trans "Supplier" %}</th>
<th>{% trans "Quantity" %}</th>
<th>{% trans "Reference" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Actions" %}</th>
</tr>
</thead>
<tbody>
{% for item in item_list %}
<tr>
<td><a href="{% url 'crm_company_detail' item.offer.company.id %}">{{ item.offer.company }}</a></td>
<td>{{ item.quantity }}</td>
<td><a href="{% url 'wm_article_detail' item.offer.article.id %}">{{ item.offer.article.code }}</a></td>
<td>{{ item.offer.article.description }}</td>
<td>
<a href="{% url 'om_order_create' item.offer.company.id %}" class="btn btn-xs btn-primary">{% trans "Confirm" %}</a>
<a href="{% url 'om_cartitem_delete' item.id %}" class="btn btn-xs btn-danger">{% trans "Delete" %}</a>
</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
