{% extends 'om/base.html' %}
{% load i18n %}

{% block title %}{% trans "Order" %} {{ order.reference }}{% endblock %}

{% block content %}

<h1>{% trans "Order" %} {{ order.reference }}</h1>

<div class="panel panel-primary">
<div class="panel-heading">{% trans "Order details" %}</div>
<div class="panel-body">
<dl class="dl-horizontal">
<dt>{% trans "Date" %}</dt>
<dd>{{ order.created_at }}</dd>
<dt>{% trans "Supplier" %}</dt>
<dd><a href="{% url 'crm_company_detail' order.company.id %}">{{ order.company }}</a>
<dt>{% trans "Notes" %}</dt>
<dd>{{ order.notes }}</dd>
</dl>
</div>
</div>

<h2>{% trans "Order reception" %}</h2>

<form method="post" action="">{% csrf_token %}

{{ formset.management_form }}

<table class="table table-striped table-hover">
<thead>
<tr>
<th class="center">{% trans "Ordered" %}</th>
<th class="center">{% trans "Pending" %}</th>
<th class="center">{% trans "Receive" %}</th>
<th class="center">{% trans "Unit" %}</th>
<th class="center">{% trans "Reference" %}</th>
<th class="center">{% trans "Description" %}</th>
<th class="center">{% trans "Price" %}</th>
<th class="center">{% trans "Delivery date" %}</th>
</tr>
</thead>
<tbody>
{% for form in formset.forms %}
<tr>
<td class="center">{{ form.instance.ordered_quantity }}</td>
<td class="center">{{ form.instance.pending }}</td>
<td class="center">{{ form.id }}{% if not form.instance.completed_on %}{{ form.receive }}{% endif %}</td>
<td class="center">{{ form.instance.offer.article.measure_unit }}</td>
<td class="center">{{ form.instance.offer.article.code }}</td>
<td class="center">{{ form.instance.offer.article.description }}</td>
<td class="center">{{ form.instance.offer.invoice_price|floatformat:2 }}</td>
<td class="center">{% if not form.instance.completed_on %}{{ form.estimated_delivery }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
<div>
<button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
</div>
</form>

{% endblock %}
