{% extends 'om/base.html' %}
{% load i18n %}

{% block title %}{% trans "Order" %} {{ order.reference }}{% endblock %}

{% block content %}

<h1>{% trans "Order" %} {{ order }}</h1>

<embed src="{% url 'om_order_pdf' order.id %}" width="800" height="600" type="application/pdf">

{% if order.private_note %}
<h3>{% trans "Private note" %}</h3>
<div>
{{ order.private_note }}
</div>
{% endif %}

{% if not order.completed_on %}
<div>
<h3>{% trans "Order will be sent to" %}</h3>
<p>{{ order.recipient_list|join:", " }}</p>
</div>

<div>
<form method="post" action="">{% csrf_token %}
<button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
<a href="{% url 'om_order_csv' order.id %}" target="_blank">{% trans "Get CSV" %}</a>
</form>
</div>
{% endif %}

{% endblock %}
