{% extends 'site_base.html' %}
{% load i18n %}

{% block title %}INDUMATIC{% endblock %}

{% block body %}
<h1>{% trans "Project summary" %}</h1>

<h2>{% trans "Active projects" %}</h2>

<table>
<thead>
<tr>
<th>{% trans "Reference" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Customer" %}</th>
<th>{% trans "Estimated delivery" %}</th>
</tr>
</thead>
{% for project in active_projects %}
<tr>
<td><a href="{% url 'pm_project_detail' project.id %}">{{ project }}</a></td>
<td>{{ project.description }}</td>
<td><a href="{% url 'crm_company_detail' project.company.id %}">{{ project.company }}</a></td>
<td>{{ project.estimated_delivery_on }}</td>
</tr>
{% endfor %}
</table>

<h2>{% trans "Shipped projects" %}</h2>

<table>
<thead>
<tr>
<th>{% trans "Reference" %}</th>
<th>{% trans "Description" %}</th>
<th>{% trans "Customer" %}</th>
</tr>
</thead>
{% for project in shipped_projects %}
<tr>
<td><a href="{% url 'pm_project_detail' project.id %}">{{ project }}</a></td>
<td>{{ project.description }}</td>
<td><a href="{% url 'crm_company_detail' project.company.id %}">{{ project.company }}</a></td>
</tr>
{% endfor %}
</table>

<h2>{% trans "Delayed orders" %}</h2>
<ul>
{% for order in delayed_orders %}
	<li><a href="{% url 'om_order_detail' order.id %}">{{ order }}</a></li>
{% empty %}
	<li>{% trans "There are no delayed orders." %}</li>
{% endfor %}
</ul>

<h2>{% trans "Possible orders" %}</h2>
<ul>
{% for company in suppliers_in_cart %}
	<li><a href="{% url 'om_order_create' company.id %}">{{ company }}</a></li>
{% empty %}
	<li>{% trans "The cart is empty." %}</li>
{% endfor %}
</ul>

<h2>{% trans "Suppliers with pending orders" %}</h2>
<ul>
{% for company in pending_companies %}
	<li><a href="{% url 'om_orderitem_pending' company.id %}">{{ company }}</a></li>
{% empty %}
	<li>{% trans "There are no pending orders" %}</li>
{% endfor %}
</ul>


{% endblock %}
