{% load i18n %}
{% load staticfiles %}

<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/indumatic.css' %}" type="text/css" />
	<script src="{% static 'js/jquery.js' %}"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="{% static 'js/jquery.ui.datepicker-es.js' %}"></script>
	<link rel="stylesheet" href="{% static 'uni-form/css/uni-form.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'uni-form/css/default.uni-form.css' %}" type="text/css" />

	{% block extra_head %}{% endblock %}

<script type="text/javascript">

$(function() {
	$('.dateinput').datepicker();
});

</script>

</head>
<body>
<ul id="main_menu">
<li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
<li><a href="{% url 'crm_company_list' %}">{% trans "Companies" %}</a></li>
<li><a href="{% url 'pm_project_list' %}">{% trans "Projects" %}</a></li>
<li><a href="{% url 'wm_group_tree' %}">{% trans "Articles" %}</a></li>
<li><a href="{% url 'om_order_list' %}">{% trans "Orders" %}</a></li>
<li><a href="{% url 'haystack_search' %}">{% trans "Search" %}</a></li>
<li><a href="{% url 'om_cartitem_list' %}">{% trans "Cart" %} ({{ cart_count }})</a></li>
</ul>

{% block app_menu %}{% endblock %}

<div id="content_wrapper">
{% block body %}

{% endblock %}
</div>
</body>
</html>
