{% load i18n %}
{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/yeti.css' %}">
	<link rel="stylesheet" href="{% static 'css/indumatic.css' %}">

	<!-- jQuery -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="{% static 'js/jquery.ui.datepicker-es.js' %}"></script>

	<!-- session security -->
	{% include 'session_security/all.html' %}

	{% block extra_head %}{% endblock %}

<script type="text/javascript">

$(function() {
	$('.dateinput').datepicker();
});

</script>

</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{% url 'home' %}">Indumatic</a>
  </div>
  {% if user.is_authenticated %}
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
	  <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
      <li class="{% block crm %}{% endblock %}"><a href="{% url 'crm_company_list' %}">{% trans "Companies" %}</a></li>
      <li class="{% block pm %}{% endblock %}"><a href="{% url 'pm_project_list' %}">{% trans "Projects" %}</a></li>
      <li class="{% block wm %}{% endblock %}"><a href="{% url 'wm_group_tree' %}">{% trans "Articles" %}</a></li>
      <li class="{% block om %}{% endblock %}"><a href="{% url 'om_order_list' %}">{% trans "Orders" %}</a></li>
      <li><a href="{% url 'om_cartitem_list' %}">{% trans "Cart" %} ({{ cart_count }})</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  {% if user.is_authenticated %}
	  <li class="navbar-text">{{ user.first_name }} {{ user.last_name }}</li>
	  {% endif %}
	  {% if user.is_staff %}
      <li><a href="/admin">{% trans "Admin" %}</a></li>
	  {% endif %}
	  <li><a href="{% url 'logout_then_login' %}">{% trans "Logout" %}</a></li>
	</ul>
  </div>
  {% endif %}
</div>

{% block app_menu %}{% endblock %}

<div style="margin-left: 1em; margin-right: 1em">

{% if messages %}
{% for message in messages %}
  <div class="alert alert-dismissable alert-{{ message.tags }}">
    <button type="button" class="close" data-dismiss="alert">×</button>
	{{ message }}
  </div>
{% endfor %}
{% endif %}


{% block body %}

{% endblock %}
</div>

<!-- Bootstrap javascript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
